<% if user_signed_in? %>
    <ul class="posts">
      <div class="row">
        <div class="col-md-4">
          <section class="user-info">
            <h3><%= current_user.username %></h1>
            <span><%= link_to "view my profile", current_user %></span><br>
            <span><%= pluralize(current_user.posts.count, "post") %></span>
          </section>
          <section class="post_form">
            <%= form_for(@post) do |f| %>
              <div class="field">
                <%= f.label :title, "Title" %>
                <%= f.text_area :title %>

                <%= f.label :content, "Content" %>
                <%= f.text_area :content %>
              </div>
              <%= f.submit 'Post', class: "btn btn-primary" %>
               <span class="picture">
                <%= f.file_field :picture %>
              </span>
            <% end %>
          </section>
        </div>
        <div class="col-md-8">
          <h1>Newsfeed</h1>
          <% @users.each do |user| %>
            <% user.posts.each do |post| %>
              <li id="post-<%= post.id %>">
                <span class="post-option">
                <% if current_user == post.user %>
                <%= link_to 'edit', edit_post_path(post) %>
                <%= link_to "delete", post, method: :delete,
                                             data: { confirm: "You sure?" } %>
                <%end%>
              </span>
              <span class="user"><%= link_to post.user.username, post.user %></span>
              <span class="title"><%= post.title %></span>
              <span class="content">
                <%= post.content %><br>
                <%= image_tag post.picture.url if post.picture? %>
                
              <span class="timestamp">
                Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
                <%= commontator_thread(post) %>

              
            </li>
            <%end%>
           <%end%>
        </div>
      </div>
    </ul>
<%else%>
	<div class="center jumbotron">
	  <h1>Welcome to the My Blog</h1>
	  <h2>
	    Login to post new article or Sign up now !
	  </h2>
	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
	</div>
<%end%>

