<h1>Resend activation</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions",class: "btn btn-success" %>
	  </div>
	<% end %>
</div>
</div>