<%= form_for(@user) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <%= f.label :name %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit 'Save', class: "btn btn-success" %>
<% end %>