<% if user_signed_in? %>
<h1>All Users</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>

       <tbody>
        <% @users.each do |user| %>
         <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to "Delete", user, method: :delete,
                                           data: { confirm: "You sure?" } %><td>
         <% end %>
        </tr>
       </tbody>
      </table>
  </div>
</div>
<%end%>