<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  		<% if @user.posts.any? %>
				<h3>Posts(<%=@user.posts.count%>)</h3>
				<ol class='posts'>
					<%= render @posts %>
				</ol>
			<% end %>
		</div>
</div>