<% # Clients of this partial must provide the following variables:
   # comment
   #
   # Optionally, they can also supply the following variables:
   per_page ||= nil
   thread ||= nil
   no_remote ||= false
%>

<% config = comment.thread.config %>

<% if comment.errors.any? %>
  <div class="comment_error_explanation">
    <h3><%= t "commontator.comment.errors.#{comment.id.blank? ? 'create' : 'update'}" %></h3>

    <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([commontator, thread, comment],
             remote: !no_remote) do |f| %>

  <%= hidden_field_tag :per_page, per_page %>
  
  <div class="comment_form_field">
    <%= f.text_area :body, rows: '7',class: 'form-control' %>
    <%= javascript_tag('Commontator.initMentions()') if Commontator.mentions_enabled %>
  </div>
  
  <div class="comment_form_actions">
    <%= f.submit t("commontator.comment.actions.#{comment.id.blank? ? 'create' : 'update'}"),class: "btn btn-success"%>
    <%= f.submit t('commontator.comment.actions.cancel'), name: 'cancel',class: "btn btn-warning" %>
  </div>
  
<% end %>
