<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email, 'Username or Email' %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success" %>
      </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", new_registration_path(resource_name) %></p>
  </div>
</div>
