<span class="user"><%= link_to post.user.username, post.user %></span>
  <span class="title"><%= post.title %></span>
  <span class="content">
  	<%= post.content %><br>
  	<%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>