<div class="row">
		<aside class="col-md-6 col-md-offset-3">
			<h1>Edit Post</h1>
			<section class="post_form">
	      <%= form_for(@post) do |f| %>
	      <%= render "devise/shared/error_messages", resource: @post %>
	        <div class="field">
	          <%= f.label :title, "Title" %>
	            <%= f.text_area :title %>
	            <%= f.label :content, "Content" %>
	            <%= f.text_area :content %>
	        </div>
	          <%= f.submit 'Post', class: "btn btn-primary" %>
	            <span class="picture">
	              <%= f.file_field :picture %>
	            </span>
	      <% end %>
			</section>
		</aside>
	</div>