<footer class="footer">
  <small>
    The <a href="https://www.railstutorial.org/">Ruby on Rails App</a>
    by Nicky
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>